WorldRpg.Kit/bin/
WorldRpg.Kit/obj/
WorldRpg.Rulesets.Daggerfall/bin/
WorldRpg.Rulesets.Daggerfall/obj/
WorldRpg.Host/bin/
WorldRpg.Host/obj/
RustyDagger.NativeProduct/bin/
RustyDagger.NativeProduct/obj/
browser-bundle/
native/
native-*/
out-*/
