Dagger.Game/bin/
Dagger.Game/obj/
Dagger.NativeProduct/bin/
Dagger.NativeProduct/obj/
WorldRpg.Kit/bin/
WorldRpg.Kit/obj/
WorldRpg.Rulesets.Daggerfall/bin/
WorldRpg.Rulesets.Daggerfall/obj/
WorldRpg.Host/bin/
WorldRpg.Host/obj/
RustyDagger.NativeProduct/bin/
RustyDagger.NativeProduct/obj/
Dagger.Product/bin/
Dagger.Product/obj/
browser-bundle/
native/
native-*/
out-*/
