WorldRpg.Kit/bin/
WorldRpg.Kit/obj/
WorldRpg.Rulesets.Daggerfall/bin/
WorldRpg.Rulesets.Daggerfall/obj/
WorldRpg.Host/bin/
WorldRpg.Host/obj/
ui/generated/
sprite-ui/generated/
WorldRpg.SpriteWorkbench/workbench-content/
